<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RabbitMQToMSSQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RabbitMQToMSSQL.Properties.Settings>
            <setting name="hostname" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="virtualhost" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>5672</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="exchangeName" serializeAs="String">
                <value>exchange name</value>
            </setting>
            <setting name="queueName" serializeAs="String">
                <value>queue name</value>
            </setting>
            <setting name="MSSQLSRV_ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="MSSQLSRV_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="MSSQLSRV_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="MSSQLSRV_DBName" serializeAs="String">
                <value />
            </setting>
            <setting name="MSSQLSRV_FunctionName" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorLogPath" serializeAs="String">
                <value>%HOMEPATH%\Desktop\Error.log</value>
            </setting>
        </RabbitMQToMSSQL.Properties.Settings>
    </userSettings>
</configuration>