<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RabbitMQToMSSQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RabbitMQToMSSQL.Properties.Settings>
            <setting name="ErrorLogPath" serializeAs="String">
                <value>C:\RabbitMQToMSSQLError.log</value>
            </setting>
            <setting name="ConfigFilePath" serializeAs="String">
                <value>PathToYourConfigFile</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>RabbitMQToMSSQL</value>
            </setting>
            <setting name="ServiceDescription" serializeAs="String">
                <value>Redirects messages from RabbitMQ to MSSQL Server</value>
            </setting>
        </RabbitMQToMSSQL.Properties.Settings>
    </userSettings>
</configuration>